<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Cadastros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <h1 style="text-align: center;">Cadastro Web</h1>
        
        
        <form action="" method="post">
            <div class="col-auto">
                <div class="input-group mt-3">
                    <span class="input-group-text" id="basic-addon1">Pasta com referências</span>
                    <input type="text" class="form-control" placeholder="Folder" aria-describedby="basic-addon1" name="folder">
                </div>
                  
                <br>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="typeOne" name="type_ref" value="1">
                    <label class="form-check-label" for="typeOne">Pasta contendo imagens na raiz</label><br>
                    <input class="form-check-input" type="radio" id="typeTwo" name="type_ref" value="2">
                    <label class="form-check-label" for="typeTwo">Pasta contendo Referencias organizadas em pastas</label><br>
                    <input class="form-check-input" type="radio" id="typeThree" name="type_ref" value="3">
                    <label class="form-check-label" for="typeThree">Pasta contendo estrutura categorias e dentro Referencias organizadas em pastas</label><br>
                    <input class="form-check-input" class="form-check-input" type="radio" id="typeFour" name="type_ref" value="4">
                    <label class="form-check-label" for="typeFour">Pasta contendo estrutura categorias e dentro imagens na raiz</label>
                </div>
                <div class="d-grid gap-2 col-4 mx-auto mt-4">
                    <button class="btn btn-primary" type="submit">Processar referências</button>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
